$brown-button: #998675;
$brown-text:#c7b299;
$white: #ffffff;
$gray-header: #555555;
$footerPosts: #555555;
$gray-description: #8c8c8c;
$fonColor: #fbfaf8;
$footerColor1: #191919;
$footerTime: #363636;
$calendarTime:#363636;
$calendarMonth:#252525;
$footerElementBorder: #252525;
$footerBlue: #00bff3;
$footerCopyrightBGC:#111111;
$postsArroeColor:#d4d4d4;